footer {
  background-color: var(--secondary-color);
  width: 100%;
  padding: 2.5rem 0;
  font-size: 14px;
}

footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

footer li {
  font-weight: 400;
  text-transform: capitalize;
  transition: color 300ms ease-in;
}

footer li:hover {
  color: var(--primary-color);
}

footer .links,
footer .social,
.container > div {
  display: flex;
  align-items: center;

  gap: 2rem;
}
.container > div {
  justify-content: space-between;
  flex-grow: 1;
}
.social {
  margin-right: 2rem;
}

@media (max-width: 1200px) {
  footer .copyright,
  footer .logo {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  footer .social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  footer .links {
    flex-direction: column;
  }
}
