.web-ressources nav {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  font-size: 1.25rem;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.web-ressources nav .more {
  display: flex;
  align-items: center;
  text-decoration: underline;
  color: var(--primary-color);
  text-underline-offset: 0.4rem;
  gap: 0.3rem;
}
.web-ressources nav .more span {
  transition: transform 300ms ease-in;
}

.web-ressources nav .more:hover span {
  transform: translateX(0.3rem);
}

.resources-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.resource-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--neutral-color);
  color: var(--base-color);
}

.resource-card-body {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.resource-card-header > p {
  color: var(--secondary-color);
  font-size: 0.8rem;
}

.resource-card-body .btn {
  margin-left: auto;
}

/* tabs */
.tabs {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.tab {
  border-bottom: 1px solid transparent;
  padding-bottom: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  transition:
    border-color 300ms ease-in-out,
    color 300ms ease-in-out;
}

.tab.tab-active,
.tab:hover {
  border-bottom-color: var(--primary-color);
  color: var(--primary-color);
}

@media (max-width: 1200px) {
  .resources-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .resources-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .tabs {
    gap: 1rem;
  }
}
