#sponsors {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  width: 100%;
  overflow: hidden;
  padding: 6rem 0;
}

.sponsors-container {
  width: 100%;
  position: relative;
}

.banner {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 2rem 0;
}

.banner img {
  max-width: 100%;
  height: auto;
}

#banner-1 {
  background-color: var(--primary-color);
  transform: rotateZ(-3deg);
}

#banner-1 img {
  filter: invert(1);
}

#banner-2 {
  background: rgba(110, 105, 105, 0.2);
  backdrop-filter: blur(5px);
  transform: rotateZ(3deg);
  position: absolute;
  top: 0;
  left: 0;
}
